.myheader{
  text-align:center;
 background-image: url(https://www.freepik.com/free-vector/realistic-dark-tropical-leaves-wallpaper_6389369.htm#page=1&query=black%20blue&position=35);

}
.profile{
  border-radius:50%;
}
#about{
  background-color: #e0ffff
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}

